@model IEnumerable<Cart>;

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Page Banner START -->
<section class="mt-4 py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0">Giỏ hàng</h1>
					<!-- Breadcrumb -->
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
								<li class="breadcrumb-item"><a href="#">Khoá học</a></li>
								<li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container">
	
		<div class="row g-4 g-sm-5">
			<!-- Main content START -->
			<div class="col-lg-8 mb-4 mb-sm-0">
				<div class="card card-body p-4 shadow">
					<div class="table-responsive border-0 rounded-3">
						<!-- Table START -->
						<table class="table align-middle p-4 mb-0">
							<!-- Table head -->
							<!-- Table body START -->
							<tbody class="border-top-0">
								<!-- Table item -->
									@foreach (var item in Model)
									{
										<tr>
											<!-- Course item -->
											<td>
												<div class="d-lg-flex align-items-center">
													<!-- Image -->
													<div class="w-100px w-md-80px mb-2 mb-md-0">
														<img style="witdh:80px;height:60px;" src="@item.Images" class="rounded" alt="">
													</div>
													<!-- Title -->
													<h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
														<a class="text-dark">@item.CourseName</a>
													</h6>
												</div>
											</td>
											<!-- Amount item -->
											<td>
												<h5 class="text-dark mb-0">@item.Price đ</h5>
											</td>
											<!-- Action item -->
											<td>
												<a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.CourseID" class="btn btn-sm btn-danger-soft px-2 mb-0">
													<i class="fas fa-fw fa-times"></i>
												</a>							
											</td>
										</tr>
									}
									

								
							</tbody>
						</table>
					</div>


				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 mb-5">
				<!-- Card total START -->
				<div class="card card-body p-4 shadow">
					<!-- Title -->
					<h4 class="mb-3">Tổng tiền</h4>

					<!-- Price and detail -->
					<ul class="list-group list-group-borderless mb-2">
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">Giá gốc</span>
								<span class="h6 fw-light mb-0 fw-bold">@Model.Sum(c => c.Price) đ</span>
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h6 fw-light mb-0">Giảm giá</span>
							<span class="text-danger">-0 đ</span>
						</li>
						<li class="list-group-item px-0 d-flex justify-content-between">
							<span class="h5 mb-0">Tổng cộng</span>
							<span class="h5 mb-0">@Model.Sum(c => c.Price) đ</span>
						</li>
					</ul>

					<!-- Button -->
					<div class="d-grid">
						<a asp-controller="Cart" asp-action="Checkout" class="btn btn-lg btn-primary">Thanh toán</a>
					</div>

					<!-- Content -->
						<p class="small mb-0 mt-2 text-center">Bằng cách hoàn tất giao dịch mua của mình, bạn đồng ý với các  <a href="#"><strong>Điều khoản dịch vụ</strong></a></p>
				</div>
				<!-- Card total END -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
					
